$themePrimaryColor:#2c2c54;
$boxShadow:#cecece;
$pendingCard:#f8aa93;
$pendingBadge:#f2967b;
$pendingTableHover:#ffac939c;
$wipCard:#5d9b84;
$wipBadge:#49a281;
$wipTableHover: #31d39730;
$completedCard:#75ACC0;
$completedBadge:#4db3d9;
$completedTableHover:#75acc04f;

$medium:24px;
$small:13px;