@import "../../constants/ThemeConstants/Colors";
@import "../../constants/ThemeConstants/variable";

.CompletedIssueListContainer {
  // background-color: red;
  padding: 20px;
  text-align: center;
  .title {
    text-align: center;
    font-size: $Xlarge_font_size;
    color: $themePrimaryColor;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .issueCard {
    width: 80%;
    height: 400px;
    cursor: pointer;
    // background-color: red;
    border-radius: 10px;
    background-color: $completedCard;
    display: inline-block;
    box-shadow: 0px 0 30px 0px $boxShadow;
    position: relative;
    transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 0px 0 32px 5px $boxShadow;
    }
    .badge {
      font-size: $large_font_size;
      color: white;
      font-weight: bold;
      width: 50px;
      height: 50px;
      background-color: $completedBadge;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: -25px;
      top: -25px;
      box-shadow: 5px 0px 8px 0px $boxShadow;
      div {
        // display: inline-block;
      }
    }
    .details {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $large_font_size;
      font-weight: bold;
      color: white;
    }
  }
}
